<h1>Twitter Word of Mouth</h1>
<h3>Powered by your Customers' Love and ReferralCandy</h3>

<% @tweets.each do |tweet| %>
  <div style="padding: 20px; margin-bottom: 10px; border-radius: 8px; border: 1px solid #CACFD2;">
    <%= tweet %>
  </div>
<% end %>
